<link rel="import" href="../../components/polymer/polymer.html">

<polymer-element name="mobile-profile" on-click="{{tapped}}">
  <template>
    <!-- <link rel="stylesheet" href="mobile-profile.css"> -->
    <style>
    :host {
      /*background-color: rgb(243,99,104);*/
      z-index: 100;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    polyfill-next-selector { content: ':host > div'; }
    ::content div { /* scope relative selector */
      background: blue;
    }
    .front-side {
      position: absolute;
      left:30px;
      top:30px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      opacity: 0;
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }

    polyfill-next-selector { content: '.front-side img'; }
    .front-side ::content img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }

    .back-side {
      position: absolute;
      left:30px;
      top:30px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: rgb(243,99,104);
      background: rgb(243,99,104);
      -webkit-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
      -moz-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
      transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);
      text-align: center;
    }
    .rotateandfadeout {
      -webkit-animation: rotateandfadeout 1s linear 0s 1 normal forwards;
      -moz-animation: rotateandfadeout 1s linear 0s 1 normal forwards;
      animation: rotateandfadeout 1s linear 0s 1 normal forwards;
    }

    .rotateandfadein {
      -webkit-animation: rotateandfadein 1s linear 0s 1 normal forwards;
      -moz-animation: rotateandfadein 1s linear 0s 1 normal forwards;
      animation: rotateandfadein 1s linear 0s 1 normal forwards;
    }

    .rotatebackandfadein {
      -webkit-animation: rotatebackandfadein 1s linear 0s 1 normal forwards;
      -moz-animation: rotatebackandfadein 1s linear 0s 1 normal forwards;
      animation: rotatebackandfadein 1s linear 0s 1 normal forwards;
    }
    .rotatebackandfadeout {
      -webkit-animation: rotatebackandfadeout 1s linear 0s 1 normal forwards;
      -moz-animation: rotatebackandfadeout 1s linear 0s 1 normal forwards;
      animation: rotatebackandfadeout 1s linear 0s 1 normal forwards;
    }
    /*-------------------------------------------------------------------------------------------------------------------------------------------*/
    @-webkit-keyframes rotateandfadein {
      0% { opacity: 0;  -webkit-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 0;  -webkit-transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 0;  -webkit-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 1;  -webkit-transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 1;  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    @-moz-keyframes rotateandfadein {
      0% { opacity: 0; -moz-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 0; -moz-transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 0; -moz-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 1; -moz-transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 1; -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    @keyframes rotateandfadein {
      0% { opacity: 0; transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 0; transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 0; transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 1; transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }
    /*-------------------------------------------------------------------------------------------------------------------------------------------*/
    @-webkit-keyframes rotateandfadeout {
      0% { opacity: 1;  -webkit-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 1;  -webkit-transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 1;  -webkit-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 0;  -webkit-transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 0;  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    @-moz-keyframes rotateandfadeout {
      0% { opacity: 1; -moz-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 1; -moz-transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 1; -moz-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 0; -moz-transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 0; -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    @keyframes rotateandfadeout {
      0% { opacity: 1; transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 1; transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 1; transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 0; transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }
    /*-------------------------------------------------------------------------------------------------------------------------------------------*/
    @-webkit-keyframes rotatebackandfadeout {
      0% { opacity: 1;  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 1;  -webkit-transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 1;  -webkit-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 0;  -webkit-transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 0;  -webkit-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    @-moz-keyframes rotatebackandfadeout {
      0% { opacity: 1; -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 1; -moz-transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 1; -moz-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 0; -moz-transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 0; -moz-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    @keyframes rotatebackandfadeout {
      0% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 1; transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 1; transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 0; transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 0; transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }
    /*-------------------------------------------------------------------------------------------------------------------------------------------*/
    @-webkit-keyframes rotatebackandfadein {
      0% { opacity: 0;  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 0;  -webkit-transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 0;  -webkit-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 1;  -webkit-transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 1;  -webkit-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    @-moz-keyframes rotatebackandfadein {
      0% { opacity: 0; -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 0; -moz-transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 0; -moz-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 1; -moz-transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 1; -moz-transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    @keyframes rotatebackandfadein {
      0% { opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      25% { opacity: 0; transform: matrix3d(0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, 0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      50% { opacity: 0; transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      75% { opacity: 1; transform: matrix3d(-0.7, 0, 0.7, 0, 0, 1, 0, 0, -0.7, 0, -0.7, 0, 0, 0, 0, 1); animation-timing-function: linear;}
      100% { opacity: 1; transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1); animation-timing-function: linear;}
    }

    .title {
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      line-height: 200px;

    }
    .mirror {
      display: inline-block;
      transform: scaleX(-1); /* standard */
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH; /* IE 6/7/8 */
    }

    #scrim {
      position: absolute;
      top: 0;
      right: 0;
      /*bottom: 0;*/
      /*left: 0;*/
      width:100%;
      height:100%;
      background-color: rgba(0, 0, 0, 0.3);
      /*visibility: hidden;
      opacity: 0;*/
      transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
    }


    </style>
    <div id="back" class="back-side rotateandfadeout mirror">
      <div><span id="title" class="title mirror">
        <content select="name"></content></span>
      </div>
    </div>
    <div id="front" class="front-side rotateandfadein">
      <content select="img"></content>
    </div>

  </template>
  <script>

    Polymer({
      publish: {
        selected: false
      },
      tapped: function(event, detail, sender) {
        // console.log();
        // console.log(this.selected);
        this.selected = !this.selected;
        // console.log(this.selected);
        if(this.selected){
          this.$.back.className = 'back-side mirror rotatebackandfadein';
          this.$.front.className = 'front-side rotatebackandfadeout';
        }else{
          this.$.back.className = 'back-side rotateandfadeout mirror';
          this.$.front.className = 'front-side rotateandfadein';
        }
      }
    });

  </script>
</polymer-element>
